<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <header class="sticky-top" th:fragment="header_busqueda">
        <div id="cabecera" class="bg-dark py-0 row navbar m-0 ">
            <div class="text-center col-xl-3 logo p-1">
                <a href="/indice">
                    <img src="../../static/img/icono_web-min.png" th:src="@{/img/icono_web-min.png}" alt="logo" class="logo-img mb-2 ms-1">
                    <span class="fs-1 ps-2 text-white">GAMESHOP</span>
                </a>
            </div>
            <div class="col-xl-7">
                <form class="d-flex input-group w-auto">
                  <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Buscar" aria-describedby="search-addon"/>
                  <span class="input-group-text border-0" id="search-addon">
                    <i class="bi-search"></i>
                  </span>
                </form>
            </div>
            <div class="col-xl-1 text-center">
                <a href="#" class="text-white"><i class="bi bi-cart-fill fs-1"></i></a>
            </div>
            <div class="col-xl-1 text-center">
                <a th:href="${esAdmin} ? '/admin' : '/user/profile'" class="text-white"><i class="bi bi-person-circle fs-1"></i></a>  
            </div>
        </div>
    </header>
</body>