<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <header class="sticky-top" th:fragment="header_busqueda">
        
        <div id="cabecera" class="bg-dark py-0 row navbar m-0 ">
            <div class="text-center col-xl-3 logo p-1">
                <a th:href="@{/}">
                    <img src="../../static/img/icono_web-min.png" th:src="@{/img/icono_web-min.png}" alt="logo" class="logo-img mb-2 ms-1">
                    <span class="fs-1 ps-2 text-white">GAMESHOP</span>
                </a>
            </div>
            <div class="col-xl-6">
                <form class="d-flex input-group w-auto" action="#" th:action="@{/buscar}" th:object="${formBuscar}" method="POST">
                    <input type="text" name="nombre" class="form-control" th:field="*{search}"/>
                    <button class="btn btn-light" type="submit"><i class="bi bi-search fs-3"></i></button>
                </form>
            </div>
            <div class="col-xl-1 text-center">
                <a href="#" class="text-white"><i class="bi bi-cart-fill fs-1"></i></a>
            </div>
            <div class="col-xl-1 text-center">
                <a th:href="${esAdmin} ? '/admin/' : '/user/profile'" class="text-white"><i class="bi bi-person-circle fs-1"></i></a>  
            </div>
            <div class="col-xl-1 text-center">
                <form name="cerrar-sesion" th:action="@{/logout}" method="POST"></form>
                <a th:href="@{/logout}" class="text-white"><i class="bi bi-box-arrow-in-left fs-1"></i></a>  
            </div>
        </div>
    </header>
</body>