<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <header th:fragment="header_basico">
        <div id="cabecera" class="bg-dark py-1 justify-content-center m-0">
            <div class="text-center logo p-1">
                <a th:href="@{/}">
                    <img src="../../static/img/icono_web-min.png" th:src="@{/img/icono_web-min.png}" alt="logo" class="logo-img ms-1">
                    <span class="fs-1 align-middle ps-4 text-white">GAMESHOP</span>
                </th:href=>
            </div>
        </div>
    </header>
</body>
