<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}"></head>
<body>
    <header th:replace="~{fragmentos/header_basico::header_basico}"></header>
    <div class="row m-0">
        <aside class="col-xl-2 bg-white h-100 p-3">
            <ul class="list-unstyled">
                <li><a th:href="@{/admin/}" class="text-dark fw-bold fs-4">Videojuegos</a></li>
                <li><a th:href="@{/admin/clientes}" class="text-dark fw-bold fs-4">Clientes</a></li>
                <li><a th:href="@{/admin/ventas}" class="text-dark fw-bold fs-4">Ventas</a></li>
                <li><a th:href="@{/admin/estadisticas}" class="text-dark fw-bold fs-4">Estadisticas</a></li>
                <li><a th:href="@{/user/profile}" class="text-dark fw-bold fs-4">Mi perfil</a></li>
                <li><a th:href="@{/user/ventas}" class="text-dark fw-bold fs-4">Mis compras</a></li>
                <li>
                    <form name="cerrar-sesion" th:action="@{/logout}" method="POST"></form>
                    <a th:href="@{/logout}" class="fs-5 text-dark"><i class="bi bi-box-arrow-in-left fs-1"></i></a>
                </li>
            </ul>
        </aside>
        <main class="col-xl-10 w-75 mx-auto">
            <div class="row p-0 w-100 mt-3">
                <div class="col-xl-4 p-2">
                        <div class="justify-content-center estadistica mx-auto p-2">
                            <span class="fs-3 fw-bold">VIDEOJUEGO MÁS VENDIDO</span>
                            <img class="w-50 d-block mx-auto" th:src="${#strings.isEmpty(prodMasVendido.imagen)} ? 'http://placehold.it/350x260' : ${prodMasVendido.imagen}" alt="caratula videojuego más vendido">
                            <span class="fs-2 text-warning"><i class="bi bi-star-fill"></i><span th:text="${prodMasVendido.nombre}" class="fs-3 fw-bold">Titulo</span></span><br>
                        
                            <span class="fs-4">Número de copias vendidas: <span th:text="${cantVentasProdMasVendido}" class="fs-1">2000</span></span>
                        </div>
                </div>
                <div class="col-xl-8 p-2">
                    <div class="row p-0">
                        <div class="col-xl-12 estadistica p-3">
                            <span>TOTAL GANANCIAS <span class="fs-2" th:text="${#numbers.formatDecimal(gananciaTotal, 1, 2) + '€'}"></span></span>
                        </div>
                        <div class="col-xl-4 estadistica p-3">
                            <span>GANANCIAS NINTENDO <span class="fs-2" th:text="${#numbers.formatDecimal(gananciasSwitch, 1, 2) + '€'}"></span></span>
                        </div>
                        <div class="col-xl-4 estadistica p-3">
                            <span>GANANCIAS PLAYSTATION <span class="fs-2" th:text="${#numbers.formatDecimal(gananciasPS4, 1, 2) + '€'}"></span></span>
                        </div>
                        <div class="col-xl-4 estadistica p-3">
                            <span>GANANCIAS XBOX <span class="fs-2" th:text="${#numbers.formatDecimal(gananciasXBOX, 1, 2) + '€'}"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragmentos/footer_fijo::footer_fijo}"></footer>
</body>
</html>