<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}"></head>
<body>
    <header th:replace="~{fragmentos/header_basico::header_basico}"></header>
    <!--<form th:action="@{/logout}" method="POST" id="logoutForm"></form>-->
    <div class="row m-0">
        <aside class="col-xl-2 bg-white h-100 p-3">
            <ul class="list-unstyled">
                <li><a th:href="@{/admin/}" class="text-dark fw-bold fs-4">Videojuegos</a></li>
                <li><a th:href="@{/admin/clientes}" class="text-dark fw-bold fs-4">Clientes</a></li>
                <li><a th:href="@{/admin/ventas}" class="text-dark fw-bold fs-4">Ventas</a></li>
                <li><a th:href="@{/admin/estadisticas}" class="text-dark fw-bold fs-4">Estadisticas</a></li>
                <li><a th:href="@{/user/profile}" class="text-dark fw-bold fs-4">Mi perfil</a></li>
                <li><a th:href="@{/user/ventas}" class="text-dark fw-bold fs-4">Mis compras</a></li>
                <li>
                    <form name="cerrar-sesion" th:action="@{/logout}" method="POST"></form>
                    <a th:href="@{/logout}" class="fs-5 text-dark"><i class="bi bi-box-arrow-in-left fs-1"></i></a>
                </li>
            </ul>
        </aside>
        <main class="col-xl-10">
            <a th:href="@{/addUsuario}"><button type="button"class="btn btn-light d-flex ms-auto m-2">Añadir Usuario</button></a>
            <div class="alert alert-warning alert-dismissible rounded bg-danger" role="alert" th:if="${param.error}">
				<span class="text-white">¡No se puede eliminar un usuario si tienen ventas asociadas!</span>
            </div>
            <div class="lista-producto">
                <table class="table table-borderless">
                    <thead class="text-center">
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Admin</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </thead>
                    <tbody class="align-middle text-center">
                        <tr th:each="usuario : ${usuarios}">
                            <td th:text="${usuario.dni}">111A</td>
                            <td th:text="${usuario.nombre + ' ' + usuario.apellidos}">Pepe Manuel</td>
                            <td th:text="${usuario.username}">a</td>
                            <td th:text="${usuario.email}">a@asd.es</td>
                            <td th:text="${usuario.admin}">true</td>
                            <td><a th:href="@{/editUsuario/{id}(id=${usuario.id})}"><button type="button" class="btn p-0"><i class="bi bi-pencil-square fs-4"></i></button></a></td>
                            <td><a th:href="@{/deleteUsuario/{id}(id=${usuario.id})}"><button type="button" class="btn p-0"><i class="bi bi-trash fs-4"></i></button></a></td>
                            <!--
                            <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">¿Desea eliminar este usuario?</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a th:href="@{/deleteUsuario/{id}(id=${usuario.id})}">
                                                <button type="button" class="btn btn-danger">Eliminar</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </main>
    </div>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>