body{
    background-image: linear-gradient(90deg, rgb(65, 131, 255), rgb(160, 100, 238));
}
#cabecera .logo a span{
    font-family: 'Comfortaa', cursive;
}
#cabecera .logo-img{
    width: 70px;
}
.producto{
    height: 350px;
}
a{
    text-decoration: none !important;
}
.lista-producto, .detalle-videojuego, .form-videojuego{
    background-color: rgba(255, 255, 255, 0.682);
}