<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}"></head>
<body>
    <header th:replace="~{fragmentos/header_basico::header_basico}"></header>
    <main>
        <div class="form-videojuego w-50 p-3 mx-auto my-4">
            <form name="filtro-productos" action="" method="POST" autocomplete="on" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="titulo">Título</label>
                            <input type="text" id="titutlo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="empresa">Empresa</label>
                            <input type="text" id="empresa" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-outline my-2">
                    <label class="form-label fs-5" for="descripcion">Descripción</label>
                    <textarea class="form-control" id="descripcion" rows="3"></textarea>
                </div>
                <div class="row my-2">
                    
                    <div class="col-xl-6">
                        <label for="fecha-lanz" class="form-label fs-5">Fecha Lanzamiento</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="precio">Precio</label>
                            <i class="bi bi-currency-euro trailing fs-5"></i>
                            <input type="number" id="precio" class="form-control form-icon-trailing" />
                        </div>
                    </div>
                </div>
                <div class="my-2">
                    <label for="caratula-consola" class="form-label fs-5">Carátura Consola</label>
                    <input class="form-control" type="file" id="caratula-consola">
                </div>
                <div class="my-2">
                    <label for="calificacion" class="form-label fs-5">Calificación Consola 0-10</label>
                    <input type="range" class="form-range" min="0" max="10" step="0.5" id="calificacion">
                </div>
                <button type="submit" class="btn btn-primary btn-block my-4">Añadir Consola</button>
            </form>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>