<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}"></head>
<body>
    <header th:replace="~{fragmentos/header_basico::header_basico}"></header>
    <main>
        <div class="form-videojuego w-50 p-3 mx-auto">
            <form name="filtro-productos" th:action="${producto.id != 0} ? @{/editVideojuego/submit} : @{/addVideojuego/submit}" th:object="${producto}" method="POST" autocomplete="on" enctype="multipart/form-data">
                <input th:if="${producto.id != 0}" type="hidden" name="id" th:field="*{id}" />
                <div id="errorPrecio" class="alert alert-danger ocultar" role="alert">
                    El precio de un producto no puede ser negativo
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="titulo">Título</label>
                            <input type="text" th:field="*{nombre}" id="titulo" class="form-control" required/>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="empresa">Empresa Desarrolladora</label>
                            <input type="text" th:field="*{empresa}" id="empresa" class="form-control" required/>
                        </div>
                    </div>
                </div>
                <div class="form-outline my-2">
                    <label class="form-label fs-5" for="descripcion">Descripción</label>
                    <textarea class="form-control" th:field="*{descripcion}" id="descripcion" rows="3"></textarea>
                </div>
                <div class="row my-2">
                    <div class="col-xl-4">
                        <label for="genero" class="form-label fs-5">Género</label>
                        <select class="form-select" name="genero" aria-label="genero" th:field="*{genero}">
                            <option th:each="gen : ${T(com.salesianostriana.dam.videogamesshopproject_sebastianmillan.model.VideojuegoGenero).values()}" 
                            th:value="${gen}" th:text="${gen}"></option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label for="pegi" class="form-label fs-5">PEGI</label>
                        <select class="form-select" name="pegi" aria-label="tipo-desarrollo" th:field="*{pegi}">
                            <option th:each="pegi : ${T(com.salesianostriana.dam.videogamesshopproject_sebastianmillan.model.VideojuegoPEGI).values()}" 
                                th:value="${pegi}" th:text="${pegi}"></option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label for="fecha-lanz" class="form-label fs-5">Fecha Lanzamiento</label>
                        <input type="date" class="form-control" id="fecha-lanz" name="fecha-lanz" th:field="*{fechaLanzamiento}" th:value="*{fechaLanzamiento}" required/>
                    </div>
                </div>
                <div class="my-2">
                    <label for="caratula-videojuego" class="form-label fs-5">URL Carátura Videojuego</label>
                    <input class="form-control" type="text" th:field="*{imagen}" id="caratula-videojuego" required>
                </div>
                <div class="row my-2">
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="precio">Precio</label>
                            <i class="bi bi-currency-euro trailing fs-5"></i>
                            <input type="number" th:field="*{precioBase}" id="precio" class="form-control form-icon-trailing" oninput="verificarPrecio()" required/>
                        </div>
                    </div>
                    <div class="col-xl-6 p-4">
                        <div class="form-check">
                            <label class="form-check-label fs-5" for="edic-colec" th:field="*{esEdicColeccionista}">Edición Coleccionista</label>
                            <input class="form-check-input" type="checkbox" value="" id="edic-colec">
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-xl-6">
                        <label for="tipo-desarrollo" class="form-label fs-5">Tipo Desarrollo</label>
                        <select class="form-select" name="tipo-desarrollo" aria-label="tipo-desarrollo" th:field="*{tipoDesarrollo}">
                            <option th:each="tipo : ${T(com.salesianostriana.dam.videogamesshopproject_sebastianmillan.model.VideojuegoTipoDesarrollo).values()}" 
                            th:value="${tipo}" th:text="${tipo}"></option>                       
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label for="plataforma" class="form-label fs-5">Plataforma</label>
                        <select class="form-select" aria-label="plataforma" th:field="*{plataforma}">
                            <option value="Playstation 5">Playstation 5</option>
                            <option value="Playstation 4">Playstation 4</option>
                            <option value="Xbox series">XBOX Series</option>
                            <option value="Xbox One">XBOX One</option>
                            <option value="Nintendo Switch">Nintendo Switch</option>                 
                        </select>
                    </div>
                </div>
                <button type="submit" id="login" class="btn btn-primary btn-block my-4">Añadir Videojuego</button>
            </form>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>