<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}"></head>
<body>
    <header th:replace="~{fragmentos/header_basico::header_basico}"></header>
    <main>
        <div class="form-videojuego w-50 p-3 mx-auto mt-4">
            <form name="form-cliente" th:action="addCliente" th:object="${clienteForm}" method="POST" autocomplete="on" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label for="email-cliente" class="form-label fs-5">Email</label>
                            <input type="email" th:field="*{email}" class="form-control" id="email-cliente">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="dni">DNI</label>
                            <input type="text" th:field="*{nombre}" id="dni" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-xl-4">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="apellidos">Apellidos</label>
                            <input type="text" id="apellidos" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-xl-6">
                        <label for="contra" class="form-label fs-5">Contraseña</label>
                        <input type="password" id="contra" class="form-control">
                    </div>
                    <div class="col-xl-6">
                        <label for="repite-contra" class="form-label fs-5">Repite Contraseña</label>
                        <input type="password" id="repite-contra" class="form-control">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-xl-6">
                        <label for="fecha-nac" class="form-label fs-5">Fecha Nacimiento</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="telefono">Teléfono</label>
                            <input type="text" id="telefono" class="form-control" />
                        </div>
                    </div>
                </div>
                <button type="submit" value="Submit" class="btn btn-primary btn-block my-2">Añadir Cliente</button>
            </form>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>