<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <title>VideoGame Shop - Project</title>
</head>

<body>
    <header>
        <div id="cabecera" class="bg-dark py-1 row justify-content-center m-0">
            <div class="text-center col-xl-3 logo p-1">
                <a href="index.html">
                    <img src="../static/img/icono_web-min.png" alt="logo" class="logo-img">
                    <span class="fs-1 align-middle ps-4 text-white">GAMESHOP</span>
                </a>
            </div>

        </div>
    </header>
    <main>
        <div class="form-videojuego w-50 p-3 mx-auto my-4">
            <form name="filtro-productos" action="" method="POST" autocomplete="on" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="titulo">Título</label>
                            <input type="text" id="titutlo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="empresa">Empresa</label>
                            <input type="text" id="empresa" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-outline my-2">
                    <label class="form-label fs-5" for="descripcion">Descripción</label>
                    <textarea class="form-control" id="descripcion" rows="3"></textarea>
                </div>
                <div class="row my-2">
                    
                    <div class="col-xl-6">
                        <label for="fecha-lanz" class="form-label fs-5">Fecha Lanzamiento</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-outline">
                            <label class="form-label fs-5" for="precio">Precio</label>
                            <i class="bi bi-currency-euro trailing fs-5"></i>
                            <input type="number" id="precio" class="form-control form-icon-trailing" />
                        </div>
                    </div>
                </div>
                <div class="my-2">
                    <label for="caratula-consola" class="form-label fs-5">Carátura Consola</label>
                    <input class="form-control" type="file" id="caratula-consola">
                </div>
                <div class="my-2">
                    <label for="calificacion" class="form-label fs-5">Calificación Consola 0-10</label>
                    <input type="range" class="form-range" min="0" max="10" step="0.5" id="calificacion">
                </div>
                <button type="submit" class="btn btn-primary btn-block my-4">Añadir Consola</button>
            </form>
        </div>
    </main>
    <footer class="bg-dark text-center text-white fixed-bottom p-0">
        <div class="text-center py-3">
            © 2023 Copyright :
            <a class="text-white" href="https://mdbootstrap.com/">Sebastián Millán Ordóñez</a>
        </div>
    </footer>
</body>

</html>