<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>
<head th:replace="~{fragmentos/head::head}"></head>
<body>
    <header th:replace="~{fragmentos/header_busqueda::header_busqueda}"></header>
    <div class="container-fluid row">
        
        <aside class="col-xl-2 contenedor-filtro bg-white h-100">
            <div class="py-2 text-dark">
                <div class="text-center">
                    <i class="bi bi-funnel fs-4 fw-bold text-uppercase"></i><span class="fs-4">Filtrar</span>
                </div>
                <form name="filtro-multiple" action="#" th:action="@{/busquedaMultiple}" th:object="${formBusquedaMultiple}" method="POST">
                        <div>
                            <label for="plataforma" class="form-label fs-5">Plataforma</label>
                            <select class="form-select" aria-label="plataforma" th:field="*{plataforma}">
                                <option value="Playstation 4">Playstation 4</option>
                                <option value="Xbox One">XBOX One</option>
                                <option value="Nintendo Switch">Nintendo Switch</option>                   
                            </select>
                        </div>
                        <div>
                            <label for="genero" class="form-label fs-5">Genero</label>
                            <select class="form-select" name="genero" aria-label="genero" th:field="*{genero}">
                                <option th:each="genero : ${T(com.salesianostriana.dam.videogamesshopproject_sebastianmillan.model.VideojuegoGenero).values()}" 
                                th:value="${genero}" th:text="${genero}" ></option>
                            </select>
                        </div>
                        <div>
                            <label for="pegi" class="form-label fs-5">PEGI</label>
                            <select class="form-select" name="pegi" aria-label="pegi" th:field="*{pegi}">
                                <option th:each="pegi : ${T(com.salesianostriana.dam.videogamesshopproject_sebastianmillan.model.VideojuegoPEGI).values()}" 
                                    th:value="${pegi}" th:text="${pegi}"></option>
                            </select>
                        </div>
                    <a th:href="@{/busquedaMultiple}"><button type="submit" id="login" class="btn btn-primary btn-block my-4">Filtrar</button></a>
                </form>
            </div>
        </aside>
        <main class="col-xl-10">
            <div class="contenedor-productos row p-3">
                <div class="producto col-xl-4 my-3" th:each="producto : ${listaProductos}" data-aos="fade-up">
                    <div class="row h-100">
                        <div class="col-xl-7 p-0">
                            <img th:src="${producto.imagen}" alt="caratula videojuego" class="caratula w-100 mx-auto d-block">
                        </div>
                        <div class="col-xl-5">
                            <span th:text="${producto.nombre}" class="fs-5 text-break fw-bold"></span><br>
                            <span th:text="${producto.empresa}"></span>
                            <span th:text="${#numbers.formatDecimal(producto.precioBase, 1, 2) + '€'}" class="align-bottom d-block">59,99€</span>
                            <a href="#" th:href="@{/addLineaVenta/{id}(id=${producto.id})}"><i class="bi bi-cart-plus text-white fs-2 m-4"></i></a><br>
                            <a href="#" th:href="@{/videojuego/{id}(id=${producto.id})}"><i class="bi bi-search text-white fs-2 m-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
    <!--<script src="https://unpkg.com/aos@next/dist/aos.js"></script>-->
    <script>
        AOS.init();
    </script>
</body>
</html>