<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>
<head th:replace="~{fragmentos/head::head}"></head>
<body>
    <header th:replace="~{fragmentos/header_busqueda::header_busqueda}"></header>
    <div class="container-fluid row">
        <aside class="col-xl-2 contenedor-filtro bg-white h-100">
            <div class="py-2 text-dark">
                <div class="text-center">
                    <i class="bi bi-funnel fs-4 fw-bold text-uppercase"></i><span class="fs-4">Filtrar</span>
                </div>
                <form name="filtro-productos" action="" method="POST" autocomplete="on" enctype="multipart/form-data">
                    <fieldset>
                        <legend class="fs-5 ps-2 m-0">Precio</legend>
                        <div class="form-outline input-group ps-2 pe-2 py-2">
                            <input type="number" id="precio-min" placeholder="Precio mínimo" class="form-control-sm form-control form-icon-trailing" />
                            <i class="bi bi-currency-euro input-group-text"></i>
                        </div>
                        <div class="form-outline input-group ps-2 pe-2">
                            <input type="number" id="precio-max" placeholder="Precio máximo" class="form-control-sm form-control form-icon-trailing" />
                            <i class="bi bi-currency-euro input-group-text"></i>
                        </div>
                    </fieldset> 
                    <fieldset>
                        <legend class="fs-5 ps-2 m-0">Tipo</legend>
                        <div class="form-check ps-5">
                            <input type="radio" class="form-check-input " id="prod-nuevo" name="optradio" value="Nuevo" checked>
                            <label class="form-check-label" for="prod-nuevo">Nuevo</label>
                        </div>
                        <div class="form-check ps-5">
                            <input type="radio" class="form-check-input" id="prod-seminuevo" name="optradio" value="Seminuevo" checked>
                            <label class="form-check-label" for="prod-seminuevo">Seminuevo</label>
                        </div>
                        <div class="form-check ps-5">
                            <input type="radio" class="form-check-input" id="prod-reserva" name="optradio" value="Reserva" checked>
                            <label class="form-check-label" for="prod-reserva">Reserva</label>
                        </div>
                    </fieldset> 
                    <fieldset>
                        <legend class="fs-5 ps-2 m-0">Plataforma</legend>
                        <div class="form-check ps-5">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label">Playstation 5</label>
                        </div>
                        <div class="form-check ps-5">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label">Playstation 4</label>
                        </div>
                        <div class="form-check ps-5">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label">XBOX series X/S</label>
                        </div>
                        <div class="form-check ps-5">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label">XBOX one</label>
                        </div>
                        <div class="form-check ps-5">
                            <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                            <label class="form-check-label">Nintendo Switch</label>
                        </div>
                    </fieldset> 
                </form>
            </div>
        </aside>
        <main class="col-xl-10">
            <div class="contenedor-productos row p-3">
                <div class="producto col-xl-4 my-3" th:each="producto : ${listaProductos}" >
                    <div class="row h-100">
                        <div class="col-xl-7 p-0">
                            <img th:src="${producto.imagen}" alt="caratula" class="caratula w-100 mx-auto d-block">
                        </div>
                        <div class="col-xl-5">
                            <span th:text="${producto.nombre}" class="fs-5 text-break fw-bold"></span><br>
                            <span th:text="${producto.empresa}"></span>
                            <span th:text="${#numbers.formatDecimal(producto.precioBase, 1, 2) + '€'}" class="align-bottom d-block">59,99€</span>
                            <a href="#" th:href="@{/addLineaVenta/{id}(id=${producto.id})}"><i class="bi bi-cart-plus text-white fs-2 m-4"></i></a><br>
                            <a href="#" th:href="@{/videojuego/{id}(id=${producto.id})}"><i class="bi bi-search text-white fs-2 m-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>
</html>