<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}"></head>
<body>
    <header th:replace="~{fragmentos/header_basico::header_basico}"></header>
    <main>
        <div class="w-75 rounded venta">
            <div class="venta">
                <table class="table table-borderless">
                    <thead class="text-center">
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Importe</th>
                        <th>Eliminar</th>
                    </thead>
                    <tbody class="align-middle text-center">
                        <tr th:each="lineaVenta : ${venta}">
                            <td th:text="${lineaVenta.producto.nombre}">Playstation 5</td>
                            <td>
                                <input class="form-control" id="cantidad" th:value="${lineaVenta.cantidad}" type="text" />
                            </td>
                            <td th:text="${#numbers.formatDecimal(lineaVenta.precioUnitario, 1, 2) + '€'}"></td>
                            <td th:text="${#numbers.formatDecimal(lineaVenta.importe, 1, 2) + '€'}"></td>
                            <td><a th:href="@{/deleteLineaVenta/{id}(id=${lineaVenta.id})}"><button type="button" class="btn p-0"><i class="bi bi-trash fs-4"></i></button></a></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <span class="fs-1" th:text="${#numbers.formatDecimal(importe_total, 1, 2) + '€'}"></span>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer_fijo::footer_fijo}"></footer>
</body>

</html>