<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}"></head>
<body>
    <header th:replace="~{fragmentos/header_basico::header_basico}"></header>
    <main th:object="${ventaCompleta}">
        <div class="w-75 rounded mx-auto">
	            <div class="venta mt-4">
	                <table class="table table-borderless">
	                    <thead class="text-center">
	                        <th>Nombre</th>
	                        <th>Cantidad</th>
	                        <th>Precio Unitario</th>
	                        <th>Importe</th>
	                        <th>Eliminar</th>
	                    </thead>
	                    <tbody class="align-middle text-center">
	                        <tr th:each="lineaVenta : ${venta}">
	                            <td th:text="${lineaVenta.producto.nombre}">Playstation 5</td>
	                            <td>
	                                <input class="form-control" th:onChange="'javascript:actualizarCantidad('+${lineaVenta.lineaVentaPK.venta_id}+', '+${lineaVenta.lineaVentaPK.lineaVenta_id}+', this.value)'" th:id="${lineaVenta.lineaVentaPK.lineaVenta_id}" th:value="${lineaVenta.cantidad}" type="text"/>
	                            </td>
	                            <td th:text="${#numbers.formatDecimal(lineaVenta.precioUnitario, 1, 2) + '€'}"></td>
	                            <td th:text="${#numbers.formatDecimal(lineaVenta.importe, 1, 2) + '€'}"></td>
	                            <td><a th:href="@{/deleteLineaVenta/{id}(id=${lineaVenta.lineaVentaPK.lineaVenta_id})}"><button type="button" class="btn p-0"><i class="bi bi-trash fs-4"></i></button></a></td>
	                        </tr>
	                    </tbody>
	                </table>
	                <div class="justify-content-end row">
	                    <span class="fs-1 col-xl-6" th:text="${'IMPORTE TOTAL: ' + #numbers.formatDecimal(ventaCompleta.importeTotal, 1, 2) + '€'}"></span>
	                </div>
	                <div class="row justify-content-end">
	                    <div class="col-xl-3 justify-content-end d-flex pe-4">
	                        <a th:href="@{/}"><button type="submit" class="btn btn-dark btn-block my-4">Seguir comprando</button></a>
	                    </div>
	                    <div class="col-xl-3 justify-content-end d-flex pe-4">
	                        <a th:href="@{/processVenta}"><button type="submit" class="btn btn-success btn-block my-4">Finalizar compra</button></a>
	                    </div>
	                </div>
	            </div>
        </div>
    </main>
    <footer th:replace="~{fragmentos/footer_fijo::footer_fijo}"></footer>
</body>

</html>